/*------------------------------------------------------------------
[Theme Settings Admin Stylesheet]
Project:	Javo Themes
Version:	1.0
Last change:	09/17/2018 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Theme Settings Extends Style
-------------------------------------------------------------------*/

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "node_modules/font-awesome/scss/font-awesome";
@import 'admin/common';
@import 'admin/theme_settings';
@import 'admin/post_meta';



/*------------------------------------------------------------------
[Table of contents]
	1. Admin
	2. Admin post meta
*/

/*------------------------------------------------------------------
[1.Admin]
--------------------------------------------------------------------*/
.wp-core-ui .button-primary {
	transition: all ease;
	background: #27c5be;
	border-color: #00ffc1 #07ca70 #00ca63;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 10px 6px -10px rgba(0, 0, 0, 0.7);
}