
/*--------------------------------------------------------------
9.0 Basic
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	line-height: 1.4;
	margin: 0 0 0.75em;
	padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
    font-weight: 300;
    color: #333;
}

h2 {
	color: #333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
}

h3 {
	color: #333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
}

h4 {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #333;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}


p {margin-bottom: 1.5em;}
b, strong {
    font-weight: 600;
    color: #222;
}

address {
    font-style: italic;
}

code {
    color: #000000;
}

mark, ins {
    background: #eee;
    text-decoration: none;
}

pre {
    background: #eee;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 4px solid #888;
}

/** Header **/
.admin-bar nav.sticky-top {
    top:32px;
    background:#fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    padding: 1.4rem 1rem;
}

nav.sticky-top {
    background:#fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    padding: 1.4rem 1rem;
}


/*--------------------------------------------------------------
9.0 Layout
--------------------------------------------------------------*/
#content-wrapper {
    padding-top: 35px;    
}

/** Remove padding when pagebuilder is used **/
body.single-lv_listing #content-wrapper,
.elementor-page #content-wrapper {
    padding-top: 0px;    
}

@media (min-width: 767px) {
    .site-main {
        padding-right: 50px;
    }
  }


/** layout - single post **/
body.single-post #content-wrapper {
    padding-top: 0px;
}

article.post.hentry {margin-bottom: 3.5rem;}



/** Typography **/
body {
    font-family: 'roboto', sans-serif;
    color: #828282;
    line-height: 1.9;
    font-size: 0.9em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'raleway', sans-serif;
}

/*--------------------------------------------------------------
9.0 Nav
--------------------------------------------------------------*/
.theme-nav {
    border-bottom:1px solid #eee;
}

span.menu-titles {
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav.sub-menu-second span.menu-titles {    
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h1.entry-title, h2.entry-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.home.blog h2.entry-title {
    margin-bottom: 0.5rem;
}
.entry-summary {font-size: 14px;}


/*--------------------------------------------------------------
9.0 Blog - Post
--------------------------------------------------------------*/
.post-tags-items li {font-size:13px;}
.single-post-thumbnail {margin: 0 0 1.2rem 0;}
.page-links {
    a {color:red;}
}

#comments h2.comments-title {
    margin: 36px 0 36px 0;
}

.entry-summary p {margin:0;
    color:#888888}

.post-tags-item a {
    color: #888888;
    :hover {
        color: #000;
    }
}

/*--------------------------------------------------------------
9.0 Blog - Post
--------------------------------------------------------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery-columns-1 .gallery-item{
    flex: 0 0 100%;
    max-width: 100%;
}

.gallery-columns-2 .gallery-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.gallery-columns-3 .gallery-item{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item{
    flex: 0 0 25%;
    max-width: 25%;
}

.gallery-columns-5 .gallery-item{
    flex: 0 0 20%;
    max-width: 20%;
}

.gallery-columns-6 .gallery-item{
    flex: 0 0 16.66666%;
    max-width: 16.666666%;
}

.gallery-columns-7 .gallery-item{
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item{
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item{
    flex: 0 0 11.11111%;
    max-width: 11.11111%;
}

/*--------------------------------------------------------------
9.0 Search
--------------------------------------------------------------*/
form.search-form {
    .search-field{
        border: 3px solid #eee;
        padding: 5px 15px;
        border-radius: 30px;
        border-top-right-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
    }
    .submit {
        background: transparent;
        border: 0;
    }

    .input-group-append {
        position: absolute;
        right: 12px;
        top: 5px;
        z-index: 9;
    }
}

/*--- Widget space ---*/
.widget-area section.p-2:first-child {
    padding-top:0 !important;    
}

/*--- Seach page --- */
body.search h1.page-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 2.5rem 0;
}


/*--------------------------------------------------------------
9.0 Comments
--------------------------------------------------------------*/
.comments-area {margin-bottom: 40px;}
.comment-form input.submit{
    border: 3px solid #333;
    padding: 10px 15px;
    border-radius: 30px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    &:hover {
        color: #fff;
        background: #333;
    }
}

.comment-form p.comment-form-comment {margin:10px 0;}

.entry-content {font-size: 14px;}

//Medium title typhography
.comment-reply-title {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

//Smaller text
.comment-form a
 {
    font-size: 13px;
}

img, video {
    height: auto;
    max-width: 100%;
}

img {
    border-style: none;
}

/** Posts **/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .entry-footer:before, .entry-footer:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .nav-links:before, .nav-links:after, .pagination:before, .pagination:after, .comment-author:before, .comment-author:after, .widget-area:before, .widget-area:after, .widget:before, .widget:after, .comment-meta:before, .comment-meta:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after, .entry-content:after, .entry-footer:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after, .nav-links:after, .pagination:after, .comment-author:after, .widget-area:after, .widget:after, .comment-meta:after {
    clear: both;
}

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .entry-footer:before, .entry-footer:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .nav-links:before, .nav-links:after, .pagination:before, .pagination:after, .comment-author:before, .comment-author:after, .widget-area:before, .widget-area:after, .widget:before, .widget:after, .comment-meta:before, .comment-meta:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.page-links {clear:both;}

.wp-block-button {
    display: block;
    color: #fff;
    margin-bottom: 1.5em;
}

.nav-links {margin-bottom: 50px;}
.nav-next a, 
.nav-previous a{
    padding: 10px 15px;
    border:1px solid #eee;
    &:hover {
        border-color:#c1c1c1;
        color: #000;
    }
}


/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/
table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
9.0 FontAwesome 5 Icons
--------------------------------------------------------------*/
/* Fontawesome 5 Support */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  blockquote {
    &::before, &::after {
        font-family: "Font Awesome 5 Free";    
        display: inline;
        padding-right: 3px;
        padding-bottom: 5px;
        vertical-align: middle;
        font-weight: 900;
    }    
    &::before {
        content: "\f10d";
        }    
}
.post.sticky.hentry .entry-title::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0f3";
    display: inline-block;
    padding-right: 3px;
    padding-bottom: 5px;
    vertical-align: middle;
    font-weight: 900;
}

.nav-previous {
    float:left;
    a {
        &::before{
            font-family: "Font Awesome 5 Free";
            content: "\f104";
            display: inline-block;
            padding-right: 10px;
            padding-bottom: 1px;
            vertical-align: middle;
            font-weight: 900;
        }
    }
}
.nav-next {float: right;
a {        
    &::after{
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-bottom: 1px;
        vertical-align: middle;
        font-weight: 900;
    }
}
}
