.single-header-wrap{
    position: relative;
    overflow:hidden;
    min-height:700px;
    background-color:#141618;
    .single-header{
        position:absolute;
        top:50%;
        width:100%;
        text-align:center;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
    }
    .single-header-bg,
    .single-header-overlay{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .single-header-bg{
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
    }

    .single-header-overlay{
        background-color:rgba(0, 0, 0, .7);
    }

    .header-title{ margin-bottom:30px; }

    .entry-title{
        color:#ffffff;
        font-size:35px;
        font-weight:700;
        letter-spacing: 1px;
    }

    .entry-meta{
        margin:18px 0 0;
        &, a{
            color:#ffffff;
        }
    }
}

.single-body-wrap{
    padding-top:35px;
    .entry-footer{        
        margin-bottom:20px;
        padding: 20px 0;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        .cat-links, .tags-links{
            display:block;
        }

        .post_categories, .post_tags {
            display: none;
        }
    }
}