/*
* Map loading animation
*/
#javo-map-info-w-content{    
    .sk-three-bounce {
        margin-top:26%;
        width: 80px;
        text-align: center;
    }
    .sk-three-bounce .sk-child {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: inline-block;
    }
}