/vendor/symfony/http-foundation/Tests/
/vendor/symfony/translation/Tests/*
/vendor/symfony/debug/Tests/
node_modules/
.svn
.DS_Store
/wiloke-listing-tools.zip
/test
/.phpunit.result.cache
/HEAD
/composer.lock
/phpunit
/phpunit-8.1.phar
/phpunit.xml
/spec/
/tests/
/vendor/symfony/translation/Tests/
/admin/source/js/
