/* Wordpress Required CSS */
.wp-caption,
img{ max-width:100%; height:auto;}
.wp-caption{padding:5px; display:inline;}
.gallery{
    .gallery-item{
        margin-left:0px;
        margin-right:0px;
        .gallery-caption{
            color:#646464;
            padding:5px 10px;
            margin-bottom:5px;
        }
    }
}


/* border */
.widget-title,
.comments-title,
#comments .comments-list .comment-content,
#respond .comments-list .comment-content,
#comments .comment-list .comments-list:first-child,
#respond .comment-list .comments-list:first-child,
.sub-menu-second {
    border-color: #eaeaea;
}

/* titles */
.widget-title,
.comment-reply-title,
.comments-title,
.comment-reply a,
.edit-button,
.comment-form label,
.form-submit [type="submit"],
.menu-titles,
.search-submit {
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
}

/* text color */
.comment-author .fn,
.comment-form label,
.search-submit {
    color: $dark-smoth;
}

.comment-author .fn {
    text-transform: capitalize;
}

#page-style>#content-page-wrapper>.container-fluid>.container>.row {
    padding-top: 35px;
}

/*
----------------------------------------------------------

#Comments

----------------------------------------------------------
*/
#respond .comments-title,
#comments #reply-title,
#respond #reply-title {
    margin: 36px 0px 0px 0px;
}

#comments .btn-comments,
#respond .btn-comments {
    padding: 5px 10px !important;
    font-size: 12px;
}

#comments .comment-list .comments-list:first-child,
#respond .comment-list .comments-list:first-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 36px;
}

#comments .comments-list .comment-content,
#respond .comments-list .comment-content {
    border-top-width: 1px;
    border-top-style: solid;
}

#cancel-comment-reply-link {
    display: block;
    padding: 36px 0px 36px 0px;
}

.edit-button,
.comment-reply {
    font-size: 11px;
}

.comment-notes {
    font-weight: normal;
    margin: 9px 0px 15px 1px;
}

.comment-list {
    li {
        list-style-type: none;
    }

    padding: 0;
}

.comment {
    margin: 36px 0px 0px 0px;
}

div.comment-meta.post-meta {
    margin-left: 0;
    padding: 0px 18px 18px 18px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
}

@media (min-width: 960px) {
    div.comment-meta.post-meta {
        margin-left: 90px;
    }
}

section.child-comments.comments-list {
    padding: 0px 0px 0px 90px;
}

@media (max-width: 959px) {
    section.child-comments.comments-list {
        padding: 0px 0px 0px 18px;
    }
}

.comment-content {
    position: relative;
    padding: 36px 0px 0px 0px;

    .comment-meta {
        padding-right: 0px !important;
        padding-bottom: 0px !important;
    }

    .gravatar {
        float: left;

        img.avatar {
            max-width: 72px;
            min-height: 72px;
        }
    }

    .logged-in-as {
        display: inline-block;
        margin: 9px 0px 0px 0px;
        font-size: 12px;
    }

    .comment-author {
        display: inline-block;
        text-transform: capitalize;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }

    .comment-meta p {
        margin: 9px 0px 0px 0px;
    }

    .comment-meta-item {
        margin: 9px 0px 0px 0px;
        display: block;
        font-size: 11px;
    }

    .comment-reply-link {
        span {
            font-size: 11px;
        }

        margin: 18px 0px 0px 0px;
        display: block;
        text-transform: uppercase;
    }
}

@media (max-width: 959px) {
    .comment-content .comment-meta {
        padding: 0px !important;
    }
}

@media (max-width: 959px) {
    .comment-content .gravatar {
        float: none;
    }
}

@media (min-width: 960px) {
    .comment-content .gravatar img.avatar {
        display: block;
    }
}

@media (max-width: 959px) {
    .comment-content .logged-in-as {
        margin: 0px 18px 27px 0px;
    }
}

@media (min-width: 960px) {
    .comment-content .comment-reply-link {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 32px;
    }
}

.comment-form {
    .comment-form-comment {
        label {
            text-indent: -9999px;
            position: absolute;
            left: -9999px;
        }

        &.comment-loggedin {
            margin-top: 0px !important;

            textarea {
                margin-top: 0px;
            }
        }
    }

    .comment-figure {
        width: 90px;
        float: left;

        .gravatar {
            margin: 0;
        }
    }
}

@media (max-width: 959px) {
    .comment-form .comment-figure {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .comments-area .form-indent .comment-form .form-submit {
        margin-left: 108px;
    }
}

.form-submit {
    margin: 27px 0px 0px 0px;
}

.gravatar img.avatar {
    max-width: 5em;
    min-height: 5em;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    margin: 0 auto;
}

/* Search */
.search-form .search-submit {
    background: $white;
    border: 1px solid #e4e7ea;
    line-height: 17px;
    padding: 7px 18px;
    width: 30%;
}

.search-form input[type="search"] {
    border: solid 1px #e6e6e6;
    padding: 4px 0 5px 5px;
}