.jv-kampala a,
.jv-kampala a:active,
.jv-kampala a:focus,
.jv-kampala .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-kampala a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-kampala .tg-item-overlay {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: 0 auto;
	border-radius: 50%;
	-webkit-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
}
.jv-kampala .tg-media-button,
.jv-kampala .tg-link-button {
	position: relative;
    display: block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
.jv-kampala .tg-item-overlay,
.jv-kampala .tg-media-button,
.jv-kampala .tg-link-button {
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-kampala .tg-media-button i,
.jv-kampala .tg-link-button i {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 75px;
	font-size: 24px;
	text-align: center;
}
.jv-kampala .tg-media-button,
.jv-kampala .tg-link-button {
	-webkit-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
}
.jv-kampala .tg-item-media-holder:hover .tg-item-overlay,
.jv-kampala .tg-item-media-holder:hover .tg-media-button,
.jv-kampala .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.jv-kampala .tg-item-decoration {
    position: absolute;
    display: block;
    width: 20%;
    right: 0;
    bottom: -1px;
}
.triangle-up-left {
    width: 0;
    height: 0;
    padding-bottom: 100%;
    padding-left: 100%;
    overflow: hidden;
}
.triangle-up-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid;
    border-left-color: inherit;
}
.triangle-down-right {
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    border-top: 500px solid transparent;
    border-right: 500px solid;
    border-right-color: inherit;
}
.jv-kampala .tg-icon-reply {
	position: absolute;
    display: block;
    top: 15%;
    left: 12%;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.jv-kampala .tg-item-decoration svg {
	position: absolute;
	display: block;
    bottom: 0;
    right: 0;
}
.jv-kampala .tg-item-share-holder {
    position: absolute;
    display: block;
    width: 20%;
	min-width: 74px;
    left: 0px;
    top: 0;
}
.jv-kampala .tg-share-icons {
	position: absolute;
    display: block;
	z-index: 2;
    width: 30px;
    top: 30%;
    left: 20%;
	margin: 14px 0 0 -7px;
    padding: 4px 0;
	opacity: 0;
	text-align: center;
	visibility: hidden;
	background-color: rgba(255,255,255,0.9);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.25);
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
	-webkit-transform: translateY(14px);
	-moz-transform: translateY(14px);
	-ms-transform: translateY(14px);
	-o-transform: translateY(14px);
	transform: translateY(14px);
	-webkit-transition: -webkit-transform 0.15s ease, opacity 0.15s ease, visibility 0.15s step-end;
	-moz-transition: -moz-transform 0.15s ease, opacity 0.15s ease, visibility 0.15s step-end;
	-ms-transition: -ms-transform 0.15s ease, opacity 0.15s ease, visibility 0.15s step-end;
	-o-transition: -o-transform 0.15s ease, opacity 0.15s ease, visibility 0.15s step-end;
	transition: transform 0.15s ease, opacity 0.15s ease, visibility 0.15s step-end;
}
.jv-kampala .tg-icon-reply:hover + .tg-share-icons,
.jv-kampala .tg-share-icons:hover {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 0.15s ease, opacity 0.15s ease, visibility 0s step-end;
	-moz-transition: -moz-transform 0.15s ease, opacity 0.15s ease, visibility 0s step-end;
	-ms-transition: -ms-transform 0.15s ease, opacity 0.15s ease, visibility 0s step-end;
	-o-transition: -o-transform 0.15s ease, opacity 0.15s ease, visibility 0s step-end;
	transition: transform 0.15s ease, opacity 0.15s ease, visibility 0s step-end;
}
.jv-kampala .tg-share-icons:before {
	position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 50%;
    top: -5px;
    margin-left: -5px;
    border-bottom: 5px solid rgba(255,255,255,0.9);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.jv-kampala .tg-share-icons a,
.jv-kampala .tg-share-icons i {
    position: relative;
    float: left;
    width: 100%;
    height: 24px;
	font-size: 14px;
    line-height: 24px;
    color: #444444 !important;
	cursor: pointer;
}
.jv-kampala .tg-share-icons i.tg-icon-facebook:hover {
	color: #3b5998 !important;
}
.jv-kampala .tg-share-icons i.tg-icon-twitter:hover {
	color: #55acee !important;
}
.jv-kampala .tg-share-icons i.tg-icon-google-plus:hover {
	color: #d34836 !important;
}
.jv-kampala .tg-share-icons i.tg-icon-pinterest:hover {
	color: #cb2027 !important;
}
.jv-kampala .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 20px 9%;
}
.jv-kampala .quote-format.tg-item-content-holder,
.jv-kampala .link-format.tg-item-content-holder {
	z-index: auto;
}
.jv-kampala h2 {
	margin: 0 10px !important;
	padding: 0 !important;
	outline: none;
}
.jv-kampala .tg-item-title,
.jv-kampala .tg-item-title a {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
    font-size: 18px;
	line-height: 26px;
	font-weight: 600;
	text-transform: uppercase;
}
.jv-kampala .tg-item-title {
	margin: 30px 0 0 0 !important;
}
.jv-kampala h2.tg-quote-content,
.jv-kampala h2.tg-link-content {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 26px;
}
.jv-kampala .tg-quote-author,
.jv-kampala .tg-link-url {
	position: relative;
    display: inline-block;
    width: 100%;
	margin: 8px 0 0 0;
	text-align: center;
    font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	font-variant: normal;
	font-style: italic;
	text-transform: none;
}
.jv-kampala .tg-quote-icon,
.jv-kampala .tg-link-icon {
	font-size: 22px;
}
.jv-kampala .tg-item-date {
	position: relative;
	display: block;
	margin: 10px 30px 0 30px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	line-height: 16px;
}
.jv-kampala .quote-format .tg-item-date,
.jv-kampala .link-format .tg-item-date {
	margin: 10px 30px 30px 30px;
}
.jv-kampala .tg-cats-holder {
	position: relative;
	display: block;
	padding: 0;
    margin: 4px 0 0 0;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.jv-kampala .tg-cats-holder * {
	position: relative;
}
.jv-kampala .tg-item-excerpt {
	font-size: 14px;
    line-height: 28px;
	margin: 0;
	padding: 30px 0 0 0;
}
.jv-kampala .tg-item-footer {
	position: relative;
    display: inline-block;
    width: 100%;
	margin: 30px 0 0 0;
}
.jv-kampala .tg-item-comment {
	display: inline-block;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
}
.jv-kampala .to-post-like {
	float: right;
	font-size: 14px;
}
.jv-kampala .to-heart-icon {
    margin: 1px 4px 0 0;
}

.jv-kampala .mejs-overlay-play {
	display: none !important;
}


/** Javo Rating average **/
.jv-kampala .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-kampala .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-kampala .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAAeCAMAAABT0xOcAAACQ1BMVEUZGRn///8ZGRmXl5f4NkwZGRkZGRnk5OT9zNIZGRmXl5f4NkwZGRmoqKj5WGoZGRkZGRlLS0tkMzm2trb6c4MZGRkZGRmXl5f4NkwZGRkZGRkZGRm0tLT6bn6Xl5f4NkxBQUFhIipiYmKbKjewsLD6ZndfX1+VKTZfX1+WKTZpaWmoKzl5eXnDL0BtbW2uLDuysrL6anqxsbH6aXqioqL5TGF2dna9Lz+CgoLTMUR6enrFMEGVlZWXl5f1Nkz4NkyXl5f4NkyQkJDqN0ydnZ34QlehoaHkXm2Xl5f4NkydnZ3xSl2oqKj5WGuNjY3nM0mTk5Ojo6PtWWnxNUuQkJDsNEq1tbX6cID6cYGRkZHuNUuWlpb3Nky1tbX6cICUlJTzNUy6urr6eomtra31ZXaVlZX1NkyUlJTzNUyXl5f4NkyVlZX1NkyWlpb2NkyWlpb2Nky3t7f6dIOWlpb3Nky5ubn6eYiZmZn4O1Gqqqr5XG6pqan5WWytra36YHKYmJiZmZmampqbm5ucnJyenp6goKChoaGioqKkpKSlpaWqqqqrq6uurq6vr6+wsLCysrK3t7e4uLi6urq8vLy9vb2+vr7AwMDCwsLDw8PGxsb5OE75PlX6OVD6O1L7PFP7PlT7ZH77dYv7eoz7fpD8QFX8SGf8Wnj9gJf9g5n+Qlf+Qlj+Q1n+d5D+gp7+iKH+jqf/RFj/RFn/RFr/RmD/SV7/S17/VnX/XnL/Yob/ZXf/b4X/cZX/epf/e5j/fp3/hqT/iKWDH0jYAAAAf3RSTlMAAAEBAQMEBAQFBQUGBgYHCQwMDQ0ODxAQERYXGRkgICIiMDAyMjQ0NTU6Oj8/QkJCQkNDRkZMTE5OU1NYWFhYXl5lZWZmaGh3d4GBkJCYmJycnJytra6urry8wMDKytfX2dna2t3d3t7l5ejo6enx8fT09fX29vj4+fn8/P39TEWEUgAAAZdJREFUSInNlGNzBEEQhid27mLbtm3btm07t7Ft2xc7Py03u7eX+9yVVKU/7dPV9UxV78yLBH6vEP1hmCwjgHDBiedKngsW/JkAEe2yr1sukONNwAg3xBQ0bbMWl2bitFUkhRCUKFdkXtPswsLc4kR/WYYnghLlCuxaWZ6fHh+dnBkrsmRCibsv/7bZqRGCGBoqsVaXABN39+EdwwRBsKqc1UURnCiXYwuBezm60vh/QAm7EPLtYw30DrJq9MmrAiPaFdpfEe2e1tBjLoInYES7vGKNNZQYrommongCRrQLMZXxOQw18jQY8b3HX6g/cRmlyvIlCYh4rpS9EL4kARHtcqi/LJTnTcAIN8QVteyyjz934nVUpYQRlChXVH7z7tHH28X2WnmmN4IS5Qrqvvp6f3l8eHo9LLZiQom7r4D28+f7m+vbg1IbTnZAibv7iM47Npt9Wu1CZgeUKJdTK6fFPsnVI7MDStR79Ns43VrfP6s1IK8KjGhX2GZljEd646oF+WJhRLt8Ekw42eGWZEYmCYz+b+Z8AzFNwBL8sJ5JAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-kampala .tg-jv-tax-wrap {padding:15px 0 0 0; text-align:center;}
.jv-kampala .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-kampala .tg-jv-category {margin-right:15px;}

.jv-kampala .tg-item-excerpt{padding-top:15px;}
.jv-kampala .tg-item-title{margin-top:15px !important;}
.jv-kampala .tg-item-footer{margin-top:15px;}
