header {
	position: relative;
}

.sticky-visible{display:none!important;visibility:hidden!important;}
.sticky-hidden{display:unset!important;visibility:visible!important;}
.is-sticky{
	.sticky-visible{display:unset!important;visibility:visible!important;}
	.sticky-hidden{display:none!important;visibility:hidden!important;}
}

/*------------------------------------------------------------------
[09. Header Stylesheet]

Project:	Javo Themes
Version:	1.0.2
Last change:	09/08/14 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Header Style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]
*/

@keyframes jvbod-nav-menu-fade{0%{opacity:0;}100%{opacity:1;}}
@-webkit-keyframes jvbod-nav-menu-fade{0%{opacity:0;}100%{opacity:1;}}
@-moz-keyframes jvbod-nav-menu-fade{0%{opacity:0;}100%{opacity:1;}}
@keyframes jvbod-nav-menu-slide{0%{transform:translateY(-1em); opacity:0;}100%{transform:translateY(0); opacity:1;}}
@-webkit-keyframes jvbod-nav-menu-slide{0%{-webkit-transform:translateY(-1em); opacity:0;}100%{-webkit-transform:translateY(0); opacity:1;}}
@-moz-keyframes jvbod-nav-menu-slide{0%{-moz-transform:translateY(-1em); opacity:0;}100%{-moz-transform:translateY(0); opacity:1;}}
.jvbpd-nav-menu {
	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
	}

	.menu-item-depth-0 .menu-titles .fa {
		padding-left:10px;
	}

	.sub-menu-second .fa {
		top: 20px;
		left: auto;
		position: absolute;
		right: 0.5em;		
		transform: rotate(-90deg);	 
	}


	.sub-menu-second {
		border-width: 0px;
		border-style: solid;
		z-index: 10;
		padding: 15px 0;

		li {
			padding: 0px 20px;
			min-width: 200px;

			a {
				color: $white;
				position: relative;

				&:hover {
					color: $primary;
				}
			}

		}
	}
}

/** hide when pagebuilder is used **/
.elementor-widget-container .jvbpd-nav-menu .sub-menu-second .fa  {display: none;}

.jvbpd-nav-menu {

	&.flex-column > li{
		&:hover {
			>ul {
				position: relative;
			}
		}
	}

	>li{

	/* Top Level */
	float: left;
	margin-right: 20px;

	/* Second Level */
	>ul {
		display: none;
		transition-duration: 2s;

	}

	/* Second Level Hover */
	&:hover {
		>ul {
			display: block;
			position: absolute;
			background-color: $black;
			min-width: 200px;
			.dropdown-effect-fade &{
				animation:jvbod-nav-menu-fade .4s;
			}
			.dropdown-effect-slide &{
				animation:jvbod-nav-menu-slide .4s;
			}

			&.wide-nav-overlay{
				z-index:10;
			}
		}
	}

	>ul {
		>li {
			>span {
				display: block;
				padding: 3px 10px;
			}
		}

		/* Third Level & beyond */
		li {
			>ul {
				display: none;
				background-color: $black;
			}

			&:hover>ul {
				display: block;
				position: absolute;
				left: 100%;
				top: 0;
				width: auto;
			}
		}

		>li ul.nav>li {
			display: block;
			padding: 3px 10px;
			white-space: nowrap;

			&:hover>span {
				color: #fff;
			}
		}
	}

	/* Last ul for left alignment */
	&:last-child>ul>li>ul {
		left: auto;
		right: 100%;
	}

	/** wide sub menu **/
	&.wide-container>ul {
		li {
			>ul {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}

	}
}


/*--------------------------------------------------------------
9.0 Mobile
--------------------------------------------------------------*/

@media(max-width:767px) {
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	.navbar-collapse {
		padding: 0 15px;
		border: 1px solid #ddd;
	}

	.jvbpd-nav-menu .menu-item-depth-0 a .fa {float:right;}
	.jvbpd-nav-menu > li > ul li > ul {background-color: #fff;}
	.jvbpd-nav-menu .sub-menu-second li a {color:#333;}
}

/**----------- 2 Preloader --------------**/
#preloader-wrap {
	height: 100%;
	width: 100%;
	background-color: $white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999999;
	display: flex;
	align-items: center;
	justify-content: center;

	.loading {
		max-width: 50%;
	}

	&.disable {
		opacity: 0;
		transition: 1s ease-in-out;
		z-index: -1;
	}
}